/* for android media */

@media screen and (max-width: 468px) {
  * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

  header {
    background-color: rgb(0, 0, 0);
    border-bottom: solid 2px rgba(0, 0, 0, 0.266);
    position: sticky;
    top: 0;
  }

  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    color: white;
  }

  header .navbar h1 {
    font-family: "Courier New", Courier, monospace;
  }

  header .menu-list {
    font-size: 25px;
  }

  header #navbar-list {
    position: absolute;
    top: 100px;
    left: -300px;
    transition: all 1s ease;
    z-index: 999999;
  }

  header #navbar-list ul {
    background-color: black;
    width: 300px;
    height: 200px;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    padding: 20px 30px;
    border-radius: 10px;
  }

  header #navbar-list ul li {
    list-style: none;
  }

  header #navbar-list ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
    padding-bottom: 0.4rem;
    transition: all 1s linear;
    border-bottom: solid 2px transparent;
  }

  header #navbar-list ul li a:hover {
    border-bottom: solid 2px white;
  }

  .navbar-icon {
    display: flex;
    height: 60px;
    width: 95%;
    background-color: rgb(11, 11, 150);
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .navbar-icon nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

  .navbar-icon nav ul li {
    list-style: none;
  }

  .navbar-icon nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px;
    transition: all 1s ease;
    font-weight: bold;
    border-radius: 10px;
  }

  .navbar-icon nav ul li a:hover {
    background-color: white;
    color: black;
  }

  section {
    margin-top: 40px;
    background-color: rgb(6, 6, 170);
    width: 90%;
    height: 500px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 40px;
  }

  #person {
    display: none;
  }

  section .user-account .image-user {
    padding-top: 40px;
  }

  section .user-account .image-user img {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: auto;
  }

  section .user-account .information-user {
    margin: 50px 30px;
  }

  section .user-account .information-user .box-user {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;
    justify-content: start;
    width: 100%;
    align-items: star;
  }
}
