* {
  padding: 0;
  margin: 0;
}

.button-component {
  width: 260px;
  height: 35px;
  border: solid 2px transparent;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
  background-color: transparent;
  background: linear-gradient(to left, red, 50%, blue);
}
