* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 27, 31);
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  background-color: rgb(29, 27, 31);
  z-index: 999999;
  width: 100%;
}

.navbar-top .data-right {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navbar-top .container-nav-items {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar-top .container-nav-items .list {
  font-size: 20px;
  background-color: black;
  /* width: 30px;
  height: 30px; */
  padding: 10px;
  color: red;
  border-radius: 100px;
  font-weight: bold;
}

.navbar-top .container-nav-items .inputSearch input {
  background-color: black;
  color: white;
  height: 30px;
  width: 200px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
}

.navbar-top .title-navbar h1 {
  color: red;
  font-size: 40px;
}

.navbar-top .container-navbar-left {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.navbar-top .container-navbar-left .accountUser {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.navbar-top .container-navbar-left .accountUser .imageUser > img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.navbar-top .container-navbar-left .message,
.notive {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-top .container-navbar-left .messageIcon,
.notiveIcon {
  padding: 10px;
  background-color: black;
  border-radius: 100px;
  color: grey;
  align-items: center;
  display: flex;
  text-align: center;
}

.navbar-left {
  width: 250px;
  height: 89vh;
  position: fixed;
  left: 0;
}

.navbarMain {
  position: sticky;
  left: 0;
}

.acountUserleft {
  display: flex;
  font-size: 14px;
  gap: 1.5rem;
  padding-top: 30px;
}

.acountUserleft img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
}

.acountUserleft .usernameUser {
  letter-spacing: 1px;
}

#mainContent {
  position: absolute;
  top: 100px;
  left: 300px;
  background-color: black;
  width: 1200px;
  height: 109vh;
  border-radius: 30px;
}

.container-main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 40px 4%;
  gap: 20px;
}

.items {
  background-color: rgb(29, 27, 31);
  width: 260px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
