/* for mobile */

@media screen and (max-width: 468px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

  #mainContent {
    width: 90%;
    margin: auto;
  }

  .container-user-box {
    width: 50rem;
  }

  .container-user {
    overflow: scroll;
    margin-top: 30px;
  }

  .box-user {
    display: flex;
    gap: 2rem;
    padding: 20px;
  }

  .card-info-user {
    width: 230px;
    height: 120px;
    border: solid 2px transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(141, 140, 140);
  }

  .statistic-user {
    font-family: sans-serif;
  }

  .statistic-user .statistic .container-user-trafic {
    overflow: scroll;
    padding: 20px;
  }

  .statistic-user .container-user-trafic .card-box {
    width: 50rem;
    display: flex;
    gap: 2rem;
  }

  .statistic-user .container-user-trafic .card-user-box {
    width: 300px;
    height: 170px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(141, 140, 140);
  }
}
